/* .create-planilla-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .create-planilla-modal {
    background: white;
    border-radius: 8px;
    width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal-content {
    margin-top: 20px;
  }
  
  .modal-content label {
    display: block;
    margin-bottom: 10px;
  }
  
  .modal-content input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-footer {
    margin-top: 20px;
    text-align: right;
  }
  
  .create-button {
    background-color: #5BA0CE;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
   */












/* Estilo del contenedor de creación de planillas como cartel */
.create-planilla-modal {
  background: white;
  border-radius: 8px;
  width: 90%;
  max-width: 500px; /* Tamaño máximo en pantallas grandes */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle efecto de cartel */
  position: fixed; /* Posicionamos el contenedor fijo en la pantalla */
  top: 50%; /* Centramos verticalmente */
  left: 50%; /* Centramos horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste para centrar completamente */
  z-index: 1000; /* Aseguramos que esté por encima del contenido */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-content {
  margin-top: 20px;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  background-color: #ffffff;
}

.desc-input{
  background-color: #ffffff;
  color: black;
  width: 100%;
  height: 2.5rem;
}

.modal-footer {
  margin-top: 20px;
  text-align: right;
}

.create-button {
  background-color: var(--fucsia);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:disabled {
  background-color: var(--fucsia-claro);
  cursor: not-allowed;
}

/* Ajuste para dispositivos móviles */
@media (max-width: 768px) {
  .create-planilla-modal {
    width: 85%;
    max-width: 350px; /* Más pequeño en dispositivos móviles */
    scale: 0.95;
    margin-left: -1rem;
  }
}
