   .profile-cont {
    position: relative;
    width: 81.0625rem;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f900;
    border-radius: 10px;
    color: #000; 
  }

  .pinky-header {
    background-color: #FC308C;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .text-header-table{
    font-family: 'Red Hat Display';
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
    font-weight: 700;
    line-height: 31.75px;
  }
  .profile-title {
    text-align: center;
    vertical-align: middle;
    color: white; 
    font-size: 25px;

  }
  
  .profile-card {
    display: flex!important;
    background-color: #fff;
    color: #f9f9f900;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row!important;
  }
  
  .profile-item {
    display: flex;
    margin-bottom: 10px;
    color: #000; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid  1px var(--fucsia)!important;
  }

  .profile-item-password {
    display: flex;
    margin-bottom: 10px;
    color: #000; 
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .profile-label {
    margin-right: 10px;
    color: #6D6D6D; 
    margin-left: 35px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Red Hat Display';
  }
  
  .profile-content{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Red Hat Display';
    color: #6D6D6D;
    margin-left: 10px;
  }
  .profile-container-icons-edit{
    display: flex;
  }
  .icon{
    margin-top: 6px;
    margin-left: 5px
  }
  .column-items1{
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .column-items2{
    display: flex!important;
    flex-direction: column!important;
    width: 70%;
  }
  .text-icon{
    font-family: 'Red Hat Display';
    font-size: 20px;
    font-weight: 400;
    color: #6D6D6D;
    margin-left: 10px;
  }
  .change-password-button {
    display: flex;
    margin: 30px 0px;
    background: linear-gradient(to right, #FC308C, #F48ACE);
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.6s;
    width: 252px;
    height: 53px;
    justify-content: center;
    align-items: center;
  }
  .save-button{
    color: #fff;
    font-family: 'Red Hat Display';
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }
  
  .change-password-button:hover {
    background-color: var(--fucsia-oscuro);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    position: relative;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: var(--fucsia);
  }
  
  .close-modal:hover {
    color: var(--fucsia-oscuro);
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .password-field {
    display: flex;
    align-items: center;
  }
  
  .show-password-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .submit-pass, .cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .submit-pass {
    background-color: var(--fucsia);
    color: #fff;
  }
  
  .submit-pass:hover {
    background-color: var(--fucsia-oscuro);
  }
  
  .cancel-btn {
    background-color: var(--celeste-real);
    color: #fff;
  }
  
  .cancel-btn:hover {
    background-color: var(--celeste-claro);
  }
  
  .icon-user{
    margin-bottom: -2rem;
  }

  .back-button-profile {
    color: var(--fucsia);
    font-size: 40px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    vertical-align: middle;
  }
  @media(max-width: 768px){
    .profile-cont{
      width: 15rem!important;
      margin-left: 70px!important;
    }
  }

    
  @media(min-width: 769px) and (max-width: 1500px) {
    .profile-cont{
       width: 50rem!important;
       margin-left: 50px!important;
    } 
   }