:root {
  font-family: "Red Hat Display";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  background-color: #ececec;


  padding: 0px;

  --fucsia: #FC308C; 
  --fucsia-claro: #fa84b9; 
  --fucsia-oscuro: #bf256a; 
  --celeste: #ffffff;
  --celeste-real: #04DBF1; 
  --celeste-claro: #a9ecf3; 
  --celeste-oscuro: #0aafc2; 
  --azul:#101C7B;
  --azul-claro:#3a47a8;
  --azul-oscuro:rgb(30, 32, 77);
}





body {
  margin: 0;
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 

  padding: 0;
  background-image: url('./assets/fondo-luces-home.jpg');  /* Ruta a tu imagen */
  background-size: cover;  /* Hace que la imagen cubra todo el fondo */
  background-position: center center;  /* Centra la imagen */
  background-attachment: fixed;  /* Fija la imagen cuando se hace scroll */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }

}

@media (max-width: 768px) {
  body{
    height: 200vh!important;
  }
}