
.userlist-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  min-height: 90vh; /* Similar al componente de planillas */
  width: 105%; /* Asegura que el contenedor ocupe todo el ancho */
  padding-top: 19rem; /* Mantiene el mismo padding superior */
}

.userlist-inner-container {
  width: 90%; /* Igual que el componente de planillas */
  max-width: 1200px; /* Limita el ancho máximo */
  padding: 20px;
  border-radius: 8px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  max-height: calc(100vh - 8rem);
}



.controls {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.search-title {
  display: flex;
  align-items: center; /* Alinea verticalmente el ícono y el texto */
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  gap: 8px; /* Espaciado entre el ícono y el texto */
}

.cico {
  font-size: 2.5rem; /* Ajusta el tamaño del ícono */
  color: #ffffff; /* Opcional: establece un color consistente */
}

.drop-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px; /* Tamaño del icono */
  height: 20px;
  color: #ffffff;
}

.search-input {
  width: 35%;
  height: 50%;
  margin-top: 0.5rem;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  border: 1px solid #FC308C;
  border-radius: 2rem 0 2rem 0;
  box-sizing: border-box;
  background-color: #ffffff00;
  color: #FC308C;
}

.search-input::placeholder {
  color: #FC308C;
}


.table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  position: relative;
  border-bottom: 3px solid var(--fucsia-oscuro);
  margin-bottom: 8px;
  padding-bottom: 8px;
  z-index: 1;
  color: #ffffff;
  background-color: #FC308C;
  border-radius: 1rem;
  padding: 0.5rem;
}

.table-header span {
  font-weight: bold;
  text-align: left;
}

/* .dropdowncito-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 20%;
} */

.dropdowncito-wrapper {
  display: flex; /* Cambiamos a flex para alinearlo horizontalmente */
  align-items: center; /* Alineamos verticalmente los elementos */
  cursor: pointer;
}

.dropdowncito-trigger {
  margin-right: 8px; /* Espaciamos un poco el texto del icono */
}

/* .dropdowncito {
  position: absolute;
  top: calc(100%);
  left: 50%;
  transform: translateX(-80%);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100px;
  z-index: 1000;
  display: none;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
} */

.dropdowncito {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.2rem 0.2rem 1rem 1rem;
  top: 2rem;
  width: 100px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateX(-30%);
}

.dropdowncito-wrapper:hover .dropdowncito,
.dropdowncito-wrapper:focus-within .dropdowncito {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdowncito div {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  text-align: center;
  color: black;
}

.dropdowncito div:hover {
  background-color: #f0f0f0;
  color: #FC308C;
}

.dropdowncito-trigger {
  cursor: pointer;
  position: relative;
  display: inline-block;
}


/* .user-card {
  width: 34rem;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  gap: 0.5rem;
  padding: 0.75rem;
  margin-bottom: 4px;
  background-color: #f9f9f9;
  border-radius: 5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  transition: all 0.3s ease;
}

.expand-icon {
  grid-column: span 5;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  color: #FC308C;
  margin-top: 2px;
} */


.user-card {
  width: 39rem;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr auto; /* Añade una columna para el ícono */
  gap: 0.5rem;
  padding: 0.75rem;
  margin-bottom: 4px;
  background-color: #f9f9f9;
  border-radius: 5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.expand-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  color: #FC308C;
  text-align: center;
}



/* .card-expanded {
  width: 34rem;
  height: auto;
  opacity: 1;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
} */

.card-expanded {
  grid-column: span 6; /* Expande sobre todas las columnas */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -20px;
}


.card-column {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: left;
}








.user-card.expanded {
  background-color: #fff5f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-card.expanded .card-expanded {
  height: auto;
  opacity: 1;
}

.clear-password-button {
  padding: 5px 10px;
  background-color: #FC308C;
  color: white;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-left: 1.8rem;
}

.clear-password-button:hover {
  background-color: #D3206C;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr; /* Coincide con las columnas de la tabla */
  gap: 1rem;
  width: 100%;
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr; /* Alinea con las tarjetas */
  position: relative;
  border-bottom: 3px solid var(--fucsia-oscuro);
  margin-bottom: 8px;
  padding-bottom: 8px;
  z-index: 1;
  color: #ffffff;
  background-color: #FC308C;
  border-radius: 1rem;
  padding: 0.5rem;
}

.table-header span {
  font-weight: bold;
  text-align: center;
}


.user-card span {
  color: black;
  text-align: left;
}

.pagination-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: auto;
}

.add-user-button {
  padding: 10px 20px;
  background: linear-gradient(to left , #fa539e, #bf256a); 
  color: white;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.add-user-button:hover {
  background-color: var(--fucsia); 
}

.pagination {
  display: flex;
  gap: 8px;
}

.page-button {
  padding: 8px 12px;
  border-radius: 1rem;
  border: 1px solid var(--fucsia);
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  color: var(--fucsia);
}

.active-page-button {
  padding: 8px 12px;
  border-radius: 1rem;
  border: 1px solid var(--fucsia);
  background-color: var(--fucsia-oscuro);
  color: #fff;
  cursor: pointer;
}






